<h1> Resources </h1>


<% @resources.each do |resource| %>
  


  
  <div>
    <h2>
  <a href="<%= resource.url %>"
    target="read_resource"> <div>
  <h2>
    <%= resource.topic %>
  </h2>
  </div></a>
  </h2>

     <div>
  <h5>
    <p>Topic:<%= resource.topic %></p>
  </h5>
  </div>

  <div>
 
   <a href="resources/<%= resource.id %>">
     <h4>Vote and comment here</h4>
    </a>
  
  </div>

<% if resource.user_id == current_user.id %>

  <form method="post" action="/resources/<%= resource.id %>">
  <div>
  <input type="submit" value="Delete">
  </div>

</form>
  </div>

  <% end %>
  <% end %>

 
  <a href="/resources/new">Post a new resource</a>

