<h1> Resources </h1>


<% @resources.each do |resource| %>
  

  <div>
  <h3>
   <a href="resources/<%= resource.id %>">
    <%= resource.title %></a>
  </h3>
  </div>
  

  <div>
  <h3>
    <%= resource.topic %>
  </h3>
  </div>


  <div>
  <a href="<%= resource.url %>"
    target="read_resource">Read here</a>

<% if resource.user_id == current_user.id %>

  <form method="post" action="/resources/<%= resource.id %>">
  <div>
  <input type="submit" value="Delete">
  </div>

</form>
  </div>

  <% end %>
  <% end %>

 
  <a href="/resources/new">Post a new resource</a>

